{% extends "app/layout.html" %}

{% block content %}
{% load static %}
<div class="container">
    <form class="form-inline pb-5">
        <div class="form-group">
            {% comment %} <input name="date1" class="form-control w70" type="date" >
            </div>
            <div class="form-group">
            <span>-</span>
            <input name="date2" class="form-control w70" type="date">
            </div> {% endcomment %}
            <div class="form-group">
                <label class="form-group">Направление: </label>
                <select class="custom-select" name="vector" id="id_vector">
                    <option value="0" selected>Выберите из списка</option>
                    {% for v in vectors %}
                    <option value="{{v.id}}">{{v.title}}</option>
                    {% endfor %}
                </select>
            </div>
            <button id="ok" type="submit" class="btn btn-primary"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
        </div>
    </form>
</div>
{% if courses|length > 0 %}
<div class="container-fluid d-flex  align-content-start flex-wrap">
    {% for c in courses %}
        <div class="col-md-3">
            <div class="card-header">
                {{c.title}}
            </div>
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="" alt="{{c.title}}" src="{{c.poster.url}}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                    {{c.lesson_count}} урока
                    <p class="card-text"> {{c.short_desc}}</p>
                    <p class="card-text"></p>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'course' c.id %}" type="button" class="btn btn-sm btn-outline-secondary">Открыть</a>
                        {% comment %} <a href="{% url 'buy' c.id %}" type="button" class="btn btn-sm btn-outline-secondary">Купить за {{c.cost}}ТГ</a> {% endcomment %}
                        <a href="" type="button" class="btn btn-sm btn-outline-secondary" data-href="delete.php?id=23" data-toggle="modal" data-target="#confirm-delete-{{forloop.counter}}">Купить за {{c.cost}}ТГ</a>
                    </div>
                    <small class="text-muted">{{c.start_date}}</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirm-delete-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {{c.title}}
                </div>
                <div class="modal-body">
                    Стоимость:{{c.cost}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <a href="{% url 'buy' c.id %}" class="btn btn-danger btn-ok">Купить</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    
        В данный момент нет публикованных курсов
    
    {% endif %}
</div>

{% endblock %}
