{% extends "app/layout.html" %}

{% block content %}

<div class="container-fluid">
{% if user.id == course.creator_id.id or user.id == course.creator_id.school_id.creator_id.id %}
    <a name="" id="" class="btn btn-primary" href=" {% url 'courses' %}" role="button">Back</a>
{% else %}
    <a name="" id="" class="btn btn-primary" href=" {% url 'mycourses' %}" role="button">Back</a>
{% endif %}

    <div class="row">
        <div class="col-md-9">
            <div class="card text-center">
                <div class="card-header">
                    Курс:
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{course.title}}</h4>
                    <p class="card-text">{{course.short_desc}}</p>
                </div>
                {% with lessons|first as first %}
                    {% if first %}
                        {% if access or user.id == course.creator_id.id or user.id == course.creator_id.school_id.creator_id.id %}
                            <a name="" id="" class="btn btn-primary" href="{% url 'lesson' course.id first.id %}" role="button">Начать</a>
                        {% else %}
                            <a name="" id="" class="btn btn-info" href="" role="button">Купить за {{course.cost}} тг</a>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            </div>
            <form action="." method="POST">
                {% csrf_token %}
                <div class="coment-bottom bg-white p-2 px-4">
                    <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                        <input type="hidden" name="user_id" value="{{request.user.id}}" />
                        <input type="hidden" name="course_id" value="{{course.id}}" />
                        <input type="text" name="content" class="form-control mr-3" placeholder="Add comment">
                        <button class="btn btn-primary" type="submit">Отправить</button>
                    </div>
                </div>
            </form>
            {% for c in comments %}
                <div class="coment-bottom bg-white p-2 px-4">
                    <div class="commented-section mt-2">
                        <div class="d-flex flex-row align-items-center commented-user">
                            <h5 class="mr-2">{{c.user_id.username}}</h5><span class="dot mb-1"></span>
                            <span class="mb-1 ml-2">{{c.pub_date}}</span>
                            <span class="mb-1 ml-2">{% if c.change_date %} изменён в {{c.change_date}} {% endif %} </span>
                            {% if c.user_id == user %}
                                <span class="mb-1 ml-5">
                                <a href="" type="button" class="btn btn-sm btn-outline-primary " data-href="delete.php?id=23" data-toggle="modal" data-target="#confirm-delete-{{forloop.counter}}">Изменить</a>
                                <a href="{% url 'delcomment' c.id %}" class="btn btn-danger btn-ok btn-sm">Удалить</a>
                                <div class="modal fade" id="confirm-delete-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                Коммент от {{c.user_id}} | {{c.course_id.title}}
                                            </div>
                                            <div class="modal-body">
                                                <form action="" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <input type="text" class="form-control d-none" name="edit" id="edit" value="{{c.id}}" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <textarea class="form-control" name="content" id="id_content" rows="3">{{c.content}}</textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                                <button type="submit" class="btn btn-primary">Изменить</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </span>
                            {% endif %}
                        </div>
                        <div class="comment-text-sm"><span>{{c.content}}</span></div>
                    </div>
                </div>
                
            {% endfor %}
        </div>
        <div class="col-md-3">
            <div class="card-header d-flex">
                Уроки:
                {% for perm in user.get_group_permissions  %}
                    {% if perm == 'app.add_lesson' %}
                        <a name="" id="" class="btn btn-primary ml-auto flex-row-reverse" href="{% url 'addlesson' course.id %}" role="button">Добавить</a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="list-group">
                {% for l in lessons %}
                    <a 
                    {% if access or user.id == course.creator_id.id or user.id == course.creator_id.school_id.creator_id.id  %}
                        href="{% url 'lesson' course.id l.id %}" 
                    {% else %}
                        href="" 
                    {% endif %}
                    class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{l.title}}</h5>
                            <small>{{forloop.counter}}</small>
                        </div>
                        <p class="mb-1">{{l.duration}} мин</p>
                        <small>{{l.short_desc}}</small>
                    </a>
                {% endfor %}
            </div>
        </div>
        

    </div>
</div>

{% endblock %}
