{% extends "app/layout.html" %}

{% block content %}
 {% for perm in user.get_group_permissions  %}
    {% if perm == 'app.add_course' %}
    <th>
        <a name="" id="" class="btn btn-primary" href="add" role="button">add</a>
    </th>
    {% endif %}
{% endfor %}
<table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Уроки(колич.)</th>
                <th>Добавлено(дата)</th>
                <th>Длителность(мин.)</th>
                <th>Автор</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td scope="row">{{course.id}}</td>
                    <td>{{course.title}}</td>
                    <td class="text-center">{{course.lesson_count}}</td>
                    <td>{{course.pub_date}}</td>
                    <td class="text-center">{{course.duration}}</td>
                    <td>{{course.creator_id}}</td>
                    <td>
                        <a name="" id="" class="btn btn-primary" href="{{course.id}}" role="button">open</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
