{% extends "app/layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <form action="" method="post" class="card text-center">
                {% csrf_token %}
                {% comment %} {{form}} {% endcomment %}
                <label for="id_title">Название: {{hw.title}}</label>
                <label for="id_desc">Короткое описание:</label>
                <textarea name="desc" cols="40" rows="10" maxlength="200" id="id_desc" disabled > {{hw.desc}}</textarea>
                <label for="id_files">Содержание ДЗ:</label>
                <input type="text" class="form-control d-none" name="lesson_id" id="inputName" placeholder="" value="{{l_id.id}}">
                <input type="text" class="form-control d-none" name="course_id" id="inputName" placeholder="" value="{{c_id}}">
                <input type="text" class="form-control d-none" name="student_id" id="inputName" placeholder="" value="{{hw.student_id.id}}">
                <hr>
                {{hw.files}}
                {% if hw.files %}
                    {{hw.files.path}}
                {% endif %}
                <button type="submit" class="btn btn-warning">Проверить</button>
                <a name="" id="" class="btn btn-primary" href="{% url 'edithomework' hw.id %}" role="button">Изменить</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
