{% extends "app/layout.html" %}

{% block content %}
<a name="" id="" class="btn btn-primary" href=" {% url 'course' c_id %}" role="button">Back</a>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="card text-center">
                <div class="card-header">
                    Lesson:
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{lesson.title}}</h4>
                    <p class="card-text">{{lesson.short_desc}}</p>
                    <img src="{{lesson.files}}" class="img-fluid rounded-circle" alt="">
                </div>
                {% for perm in user.get_group_permissions  %}
                    {% if perm == 'app.change_lesson' %}
                        <a name="" id="" class="btn btn-info" href=" {% url 'editlesson' c_id lesson.id %}" role="button">edit</a>
                    {% endif %}
                    {% if perm == 'app.delete_lesson' %}
                        <a name="" id="" class="btn btn-danger" href=" {% url 'dellesson' c_id lesson.id %}" role="button">delete</a>
                    {% endif %}

                {% endfor %}
                {{form}}
                

            </div>
            
        </div>
        
    </div>
</div>
{% endblock %}
