{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <section id="registerForm">
            <form enctype="multipart/form-data" action="." method="post" class="form-horizontal">
                {% csrf_token %}
                
                {{ f.non_field_errors }}
                {{f.errors}}
                {% comment %} {{f.as_p}} {% endcomment %}
                <h4>Основные настройки.</h4>
                <hr />
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id_school_name" id="basic-addon1">Название Учебного центра:</label> 
                    </div>
                    <input type="text" class="form-control" value="{{sch_name}}" name="school_name" maxlength="150" autofocus="" placeholder="Название" aria-label="название" required="" id="id_school_name" aria-describedby="basic-addon1">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" id="id_sub_domen">URL(поддомен) Учебного центра:</label>
                    </div>
                    <input type="text" class="form-control" value={{sch_domen}} name="sub_domen" maxlength="30" required="" id="id_sub_domen" aria-describedby="basic-addon8" placeholder="example">
                    <div class="input-group-append">
                        <span class="input-group-text" for="basic-addon8">example.gografen.com</span>
                    </div>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="custom-file">
                        <input type="file" class="form-control"  id="id_school_logo_1" name="school_logo_1" required="" aria-describedby="inputGroupFileAddon01" data-show-preview="truncatechars">
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" for="id_school_logo_1">256x64</span>
                    </div>
                </div>
                <img id="blah" src="#" class="img-fluid" alt="">

                <div class="input-group input-group-sm mb-3">
                    <div class="custom-file">
                        <input type="file" class="form-control"  id="id_school_logo_2" name="school_logo_2" required="" aria-describedby="inputGroupFileAddon01" data-show-preview="truncatechars">
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" for="id_school_logo_2">16x16</span>
                    </div>
                </div>
                <img id="blah2" src="#" class="img-fluid" alt="">
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" name="submit" value="Завершить настройку" class="btn alert-primary" />
                    </div>
                </div>
                <script>
                if($("#blah").src=="#"){
                    console.log(1)
                }
                if($("#blah2").src=="#"){
                    console.log(1)
                }
                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        
                        reader.onload = function(e) {
                        $('#blah').attr('src', e.target.result);
                        }
                        
                        reader.readAsDataURL(input.files[0]); // convert to base64 string
                    }
                }
                function readURL2(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        
                        reader.onload = function(e) {
                        $('#blah2').attr('src', e.target.result);
                        }
                        
                        reader.readAsDataURL(input.files[0]); // convert to base64 string
                    }
                }
                $("#id_school_logo_1").change(function() {
                    readURL(this);
                });
                
                $("#id_school_logo_2").change(function() {
                    readURL2(this);
                });
                </script>

                
            </form>
        
        </section>
    </div>
{% endblock %}
